# Requirements file for `conda` packages in `train`.
# Note that having packages installed by `conda` may
# lead to different versions of the same packages being installed.
# Do not install anything related to PyTorch or CUDA here.
# Doing so may cause another version of PyTorch to be installed.

# Channel priority: Intel > conda-forge > defaults (`defaults` may be unavailable).
# Most packages will be installed from `conda-forge`.
# See the repository URL below for available Intel packages.
# https://anaconda.org/intel/repo

# Essential packages.
jemalloc==5.2.1
numpy
libjpeg-turbo
libpng

# Useful packages
scipy
modin-all
pandas
openpyxl  # Read `.xlsx` files in Pandas.
scikit-learn>=1.0.0
jupyterlab
seaborn

# Non-essential utility packages.
# Some users may prefer installing these with `apt`.
tmux
nano
git

# Add additional packages here.
black
pytest
pre-commit
rich
