# Packages to be installed in `Dockerfile` in `train` or `full` modes.
mkl  # Remove this if MKL is not used. Essential package in the default setting.
pytorch-lightning==1.5.9
torchmetrics==0.7.0
hydra-core==1.1.0
hydra_colorlog==1.1.0
ray[tune]==1.9.2
pandas
openpyxl  # Read `.xlsx` files in Pandas.
scikit-learn>=1.0.0
jupyterlab
seaborn
black
pytest
pre-commit
rich
